<div id="superior" *ngIf="showSuperior && this.tipo.motorad()=='adsterra'" class="div-300-250">
    <ad [tipo]="1" [cargaren]="0"></ad>
</div>
<div id="superior" *ngIf="showSuperior && this.tipo.motorad()=='google'">
    <sense [config]="config2"></sense>
</div>
<p></p>
<h6 class="mb-3 fw-normal" *ngIf="cuando">Espera por favor..{{resto()}} segundos</h6>
<button type="button" class="btn btn-primary" [disabled]="disable" (click)="click()" *ngIf="!nohay">{{texto}}</button>
<br><br>
<div id="superior" *ngIf="showInferior && this.tipo.motorad()=='adsterra'" class="div-300-250">
    <ad [tipo]="1" [cargaren]="1"></ad>
</div>
<div id="superior" *ngIf="showInferior && this.tipo.motorad()=='google'">
    <p>
        <sense [config]="config"></sense>
    </p>
    <p>
        <sense [config]="configm"></sense>
    </p>
</div>