<div id="superior" *ngIf="showSuperior"></div>
<h6 class="mb-3 fw-normal" *ngIf="cuando">Espera por favor..{{resto()}} segundos</h6>
<button type="button" class="btn btn-primary" [disabled]="disable" (click)="click()" *ngIf="!nohay">{{texto}}</button>
<div *ngIf="nohay">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Servicio de redireccion de links de noticias, links de wordpress y Informacion personalizada de
      sitios sin base de datos te redireccionamos a la informacion solicitada solo por publicidad. Ve nuestros ejemplos:</p>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead mb-4"><b>Link</b></p>
          <button
            (click)="clicklink('https://adsinfos.github.io/#/?link=aHR0cHM6Ly93d3cuZXNwaW5vZi5jb20vc2VsZWNjaW9uL21lZGlhbWFya3QtY2VsZWJyYS1zdS1hbml2ZXJzYXJpby1yZWJhamFuZG8tbXVjaGlzaW1vcy1mdW5rb3MtbGxldmF0ZS1tZWpvcmVzLWZpZ3VyYXMtc3Rhci13YXJzLW1hcnZlbC1tdWNoby1hLXByZWNpby1kZXJyaWJv')"
            type="button" class="btn btn-info btn-lg px-4 gap-3">click aca</button>
        </div>
        <div class="col">
          <p class="lead mb-4"><b>Informacion</b></p>
          <button
            (click)="clicklink('https://adsinfos.github.io/#/?data=eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjE3NDMzNjA3OTEsInYiOiJ7XCJjdWNlXCI6XCIyMy0xMjA1LTAwLTEzMTU5NzEtMS0yXCIsXCJlbnRpZGFkXCI6XCJHb2JpZXJubyBBdXRvbm9tbyBNdW5pY2lwYWwgRGUgRWwgQWx0b1wiLFwidGlwb1wiOlwiQmllbmVzXCIsXCJtb2RhbGlkYWRcIjpcIkNNXCIsXCJvYmpldG9cIjpcIlNlcnZpY2lvcyBEZSBTYWx1ZCBVbml2ZXJzYWwgWSBHcmF0dWl0YSAtIFN1cyAoQWRxdWlzaWNpb24gRGUgUGFwZWwgUHJpbnRlciBUaXBvIFYgUGFyYSBFY29ncmFmaWEgRGVsIEhvc3BpdGFsIE11bmljaXBhbCBNb2RlbG8gQ29yZWEpXCIsXCJzdWJhc3RhXCI6XCJOb1wiLFwicHJlc2VudGFjaW9uXCI6XCIwMy8wNC8yMDIzXCIsXCJwdWJsaWNhY2lvblwiOlwiMjkvMDMvMjAyM1wifSJ9.kDng_qIaVLw2oJ-iK24f7uOmx3rJ4LYcvz7En6uji0ILCu2_e_M9jpos-2xLypocaPXWh0xTw47U9_gASSnbBWtYzWOU9raSxgCRC7FWVx-1umeYSeF2o2FNNuwaN0rSKH4mtNaMQNB7yE8eQPVKahlSil8x_pWW_N86wPOVTJPPCt-RYBuCi9ay9hhH29aRYP15Utticf9-SaI4GZ-aV8sgeiLDRueu1YSVmEsewz3q5Z5XGbV60DTZIZLXhtzySOMQS_7XV8dVsxJbZkuetIuxaeX4wh3P532pwEyEOpV1GQPMm648fywOAsb6U2FZ8PwdUVfqF21ewtoomtgKBw&ti=2')"
            type="button" class="btn btn-info btn-lg px-4 gap-3">click aca</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="inferior" *ngIf="showInferior"></div>