<div id="superior" *ngIf="showSuperior"></div>
<h6 class="mb-3 fw-normal" *ngIf="cuando">Espera por favor..{{resto()}} segundos</h6>
<button type="button" class="btn btn-primary" [disabled]="disable" (click)="click()" *ngIf="!nohay">{{texto}}</button>

<div id="inferior" *ngIf="showInferior">
    <script type="text/javascript">
        atOptions = {
            'key' : '20f18cfbc885b1521e475ddfde4dadf3',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/20f18cfbc885b1521e475ddfde4dadf3/invoke.js"></scr' + 'ipt>');
    </script>
</div>