<div id="superior" *ngIf="showSuperior">
    <sense [config]="config"></sense>
</div>
<div class="table-responsive">
    <div id="tabla">
        <h2>Convocatoria</h2>
        <table class="table" *ngIf="contrata!=null">
            <tbody>

                <tr>
                    <td class="table-primary" align="left">
                        <b>CUCE</b>
                    </td>
                    <td class="table-active">
                        <h2>{{contrata.cuce}}</h2>
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Entidad</b>
                    </td>
                    <td>
                        {{contrata.entidad}}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Tipo</b>
                    </td>
                    <td class="table-active">
                        {{contrata.tipo}}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Modalidad</b>
                    </td>
                    <td>
                        {{contrata.modalidad}}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Objeto</b>
                    </td>
                    <td class="table-active">
                        {{contrata.objeto}}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Subasta</b>
                    </td>
                    <td>
                        {{contrata.subasta}}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Fecha limite</b>
                    </td>
                    <td class="table-active">
                        {{contrata.presentacion}}<br>
                        <ng-container *ngIf="muestra(contrata.presentacion)=='vigente'">
                            <button type="button" class="btn btn-success">Vigente</button>
                        </ng-container>
                        <ng-container *ngIf="muestra(contrata.presentacion)=='vencido'">
                            <button type="button" class="btn btn-danger">Vencido</button>
                        </ng-container>

                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Fecha Publicacióm</b>
                    </td>
                    <td>
                        {{contrata.publicacion}}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Codigo para buscar Sicoes</b>
                    </td>
                    <td class="table-active">
                        {{idunico}}
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Sicoes</b>
                    </td>
                    <td>
                        Click <a href="https://www.sicoes.gob.bo" target="_blank">AQUI</a> -> Convocatorias Nacionales ->
                        Poner
                        codigo en la <b>cuarta casilla</b> -> Buscar -> Descargar documentos
                    </td>
                </tr>
                <tr>
                    <td class="table-primary" align="left">
                        <b>Link Convocatoria</b>
                    </td>
                    <td class="table-active">
                        <a href={{linkcito()}}>Link</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="pdf()">Comparte en PDF</button>

</div>

<h6 class="mb-3 fw-normal">
    Si desea descargar formularios, consultar las bases de contratación y obtener más información sobre los procesos de
    contrataciones estatales, puede ingresar al portal web de <a href="https://www.sicoes.gob.bo">SICOES</a> y buscar
    por el Código Único de Contrataciones Estatales (CUCE) en la cuarta casilla. El CUCE del proceso que le interesa es
    {{idunico}}. Además, en la opción "Ver" puede seleccionar "TODOS" para ver todos los detalles del proceso
    <p><b>Nota.</b> Este no es un sitio oficiFal, es un servicio externo para notificar contrataciones estatales</p>
</h6>

<sense [config]="config" />

<div>
    <h2>Como usar el servicio y el codigo Sicoes</h2>
    <iframe width="400" height="200" src="https://www.youtube.com/embed/UGUo3Stv_0s" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
<div id="inferior" *ngIf="showInferior">
    <sense [config]="config" />
</div>
<div>
    <p></p>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="regresar()">Regresar</button>
    <button type="button" class="btn btn-secondary btn-lg px-4 gap-3" (click)="ir()">Mas convocatorias</button>

</div>