<div id="superior" *ngIf="showSuperior" class="div-320-50">
    <sense [config]="config2"></sense>

</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="table-primary">Contacto del anuncio</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td align="center">
                    <b>Anuncio</b>
                </td>
            <tr>
                <td align="center">
                    {{contacto.titulo}}
                </td>
            </tr>
            <tr>
                <td align="center">
                    <b>Información de Contacto</b>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <ng-container [ngSwitch]="this.contacto.tipocontacto">
                        <ng-container *ngSwitchCase="'TELEFONO'">
                            {{contacto.contactos}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'WHATSAPP'">
                            <a href="https://wa.me/{{contacto.contactos}}" target="_blank">{{contacto.contactos}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="'TELEGRAM'">
                            <a href="https://t.me/{{contacto.contactos}}" target="_blank">{{contacto.contactos}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="'LINK'">
                            <a href="{{contacto.contactos}}" target="_blank">{{contacto.contactos}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="'EMAIL'">
                            <a href="mailto:{{contacto.contactos}}" target="_blank">{{contacto.contactos}}</a>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{contacto.contactos}}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <b>Información de Contacto Extra</b>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <ng-container [ngSwitch]="contacto.tipocontacto2">
                        <ng-container *ngSwitchCase="'TELEFONO'">
                            {{contacto.contactos2}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'WHATSAPP'">
                            <a href="https://wa.me/{{contacto.contactos2}}" target="_blank">{{contacto.contactos2}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="'TELEGRAM'">
                            <a href="https://t.me/{{contacto.contactos2}}" target="_blank">{{contacto.contactos2}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="'LINK'">
                            <a href="{{contacto.contactos2}}" target="_blank">{{contacto.contactos2}}</a>
                        </ng-container>
                        <ng-container *ngSwitchCase="'EMAIL'">
                            <a href="mailto:{{contacto.contactos2}}" target="_blank">{{contacto.contactos2}}</a>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            No disponible
                        </ng-container>
                    </ng-container>
                </td>
            </tr>


        </tbody>

    </table>
</div>
<div id="inferior" *ngIf="showInferior" class="div-320-50">
    <sense [config]="config" />
</div>
<button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="regresar()">Regresar</button>